body {
  background-image: url("../Imagenes/Fondo.jpg");
  font-family: "poppins", sans-serif;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
}
body h1 {
  color: rgb(219, 240, 240);
  padding: 30px;
}
body h2 {
  padding: 20px;
  font-style: italic;
  color: azure;
}
body h3 {
  color: rgb(219, 240, 240);
}

.index {
  font-size: large;
  background-size: 500px;
}

.index-a {
  color: rgb(219, 240, 240);
}

.index-nav {
  border: 2px solid;
  background-image: url(Imagenes/360_F_317252997_PTMtgySTVs3OqZhQTb7FON73ZOas83CO.jpg);
}

.navbar {
  background-image: url(Imagenes/HD-wallpaper-dark-purple-blue-dark-purple.jpg);
}

.post-info {
  color: rgb(219, 240, 240);
}

a {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: rgb(219, 240, 240);
}

li {
  color: azure;
}

.logo {
  width: 40%;
  padding: 10px;
  margin: 30px;
}

@media screen and (max-width: 993px) {
  .logo {
    width: 60%;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.showcase .showcase-imagenes:hover {
  transform: scale(1.05);
}
.showcase .showcase-imagenes {
  transition: all 0.5s;
}
.showcase .image-showcase-1, .showcase .image-showcase-2, .showcase .image-showcase-3 {
  width: 75%;
}

@media screen and (max-width: 540px) {
  .showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.socials {
  padding: 20px;
  margin: 15px;
  list-style-type: none;
}

.socials-ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.socials-logo-1 {
  margin: 10px;
  padding: 10px;
}

.socials-logo-2 {
  margin: 10px;
  padding: 10px;
}

.socials-logo-3 {
  margin: 10px;
  padding: 10px;
}

.ultimas-noticias {
  background-color: rgba(0, 0, 0, 0.685);
}

.ultimas-noticias-header {
  color: rgb(102, 19, 179);
}

.multicast-logo {
  width: 50%;
}

.podcast-title {
  padding: 20px;
  margin-left: 30px;
}

.twitter-iframe-index {
  width: 50%;
}

.youtube {
  background-color: rgba(0, 0, 0, 0.685);
}
.youtube .youtube-container {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.youtube .youtube-title {
  color: rgb(102, 19, 179);
}
.youtube .youtube-header {
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}
.youtube .youtube-p {
  padding: 25px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.twitter {
  display: flex;
  align-items: flex-end;
}
.twitter .twitter-iframe {
  grid-column: 3;
  grid-row: 1;
}

@media screen and (max-width: 600px) {
  .youtube-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .youtube-link-1, .youtube-link-2, .youtube-link-3 {
    width: 100%;
    height: 240px;
  }
}
@media screen and (min-width: 993px) {
  .youtube-link-1, .youtube-link-2, .youtube-link-3 {
    width: 480px;
    height: 320px;
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
}

p {
  color: azure;
}

.mas-leidos {
  background-color: black;
  border-radius: 10px;
  list-style-type: none;
}

li {
  list-style-type: none;
}

.spotify {
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.socials-logo-1, .socials-logo-2, .socials-logo-3 {
  width: 70px;
  height: 70px;
}

/*# sourceMappingURL=style.css.map */
