body {
    background-image: url("../Imagenes/Fondo.jpg");
    font-family: "poppins", sans-serif;
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;

  h1 {
    color: $textoprimario;
    padding: 30px;
    
    }
 

    h2 {
    padding: 20px;
    font-style: italic;
    color: nth($colores, 3);
    }

    h3 {
    color: $textoprimario;
   }
}

@media screen and (max-width: 600px) {
    .ultimas-noticias-header, .podcast-title, .youtube-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}