body {
    background-color: rgb(133, 0, 133) ;
    font-family: "poppins", sans-serif;
    background-image: url(Imagenes/Fondo.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;

  h1 {
    color: azure;
    padding: 30px;
    
    }
 

    h2 {
    padding: 20px;
    font-style: italic;
    color: azure;
    }

    h3 {
    color: azure;
   }
}