.index {
    font-size: large;
    background-size: 500px;
    
}

.index-a {
    color: $textoprimario;
}
.index-nav {
    border: 2px solid;
    background-image: url(Imagenes/360_F_317252997_PTMtgySTVs3OqZhQTb7FON73ZOas83CO.jpg);
   
    
}



.navbar {
    background-image: url(Imagenes/HD-wallpaper-dark-purple-blue-dark-purple.jpg);
    
}

.post-info {
    color: $textoprimario;
}
a {
    text-decoration: none;
}

.navbar-nav {
    @include alineacion (flex, space-around, center) ;
}

.nav-link {
    color: $textoprimario;
}
.navbar-collapse {
    @include flex (flex, space-between) ;
   
}

li {
    color: azure;
}

.logo {
  width: 40%;
  padding: 10px ;
  margin: 30px;
}

@media screen and (max-width: 993px) {
    .logo {
        width: 60%;
        padding: 10px;
        margin: 20px;
    }
}