.index {
    font-size: large;
    background-size: 200px;
    
}

.index-a {
    color: $textoprimario;
}




.navbar {
    background-image: url(Imagenes/HD-wallpaper-dark-purple-blue-dark-purple.jpg);
    
}

.post-info {
    color: $textoprimario;
}
a {
    text-decoration: none;
}

.nav-item {
    color: azure !important ;
}

.navbar-nav {
    @include alineacion (flex, space-around, center) ;
}


.nav-link {
    color: $textoprimario;
}





.logo {
  width: 40%;
  padding: 10px ;
  margin: 30px;
}

@media screen and (max-width: 993px) {
    .logo {
        width: 60%;
        padding: 10px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}