
@mixin alineacion ($display, $alineacion, $alineacionitems){
    display: $display;
    justify-content: $alineacion;
    align-items: $alineacionitems;
}

@mixin flex ($display, $alineacion) {
    display: $display;
    justify-content: $alineacion;
}