.spotify {
    @extend %spotify ;
}

.multicast-logo {
    width: 50%;
    
}

.podcast-title {
    padding: 20px;
    margin-left: 30px;
}


.twitter-iframe-index {
    width: 50%;
}

.youtube {
    background-color: rgba(0, 0, 0, 0.685);

  .youtube-container {
    padding: 0;
    margin: 0;
    width: 100%;
    @include flex (flex, space-around)

    

}



.youtube-title {
    color: $titulosecundario;
}

.youtube-header {
    padding: 30px;
    margin: 10px;
    @include flex (flex, flex-start)
}

.youtube-p {
    padding: 25px;
    margin: 10px;
   @include flex (flex, center)
}



}




.twitter {
    display: flex;
    align-items: flex-end;

.twitter-iframe {
    grid-column: 3;
    grid-row: 1;
}

}

@media screen and (max-width: 600px) {
    .youtube-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .youtube-link-1, .youtube-link-2, .youtube-link-3 {
        width: 100%;
        height: 240px;
    }
}

@media screen and (min-width: 993px){
    .youtube-link-1, .youtube-link-2, .youtube-link-3 {
        width: 480px;
        height: 320px;
    }
    
}