.showcase {
    
    @include alineacion (flex, space-around, center) ;


.showcase-imagenes:hover {
    transform: scale(1.05);
    
}

.showcase-imagenes {
   transition: all 0.5s;
}

.image-showcase-1, .image-showcase-2 , .image-showcase-3 {
  width: 75%;
   
   
}


   
}

@media screen and (max-width: 540px) {
  .showcase {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

}